/*
  ========================================
  $Header
  ========================================
*/

@use "../abstracts" as a;

.section-header {
  @extend %flex-a--center;
  @extend %screen-main;
  padding-top: clamp(20px, 1.8em, 45px);
  padding-bottom: clamp(27px, 2.2em, 50px);

  &__logo {
    width: clamp(145px, 10em, 210px);
    margin-right: 17px;
  }
}

.nav {
  @include a.bp(medium) {
    margin-left: auto;
  }

  &__link {
    padding-left: clamp(20px, 2em, 58px);
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
    @include a.bp(medium) {
      text-transform: none;
    }
    &:hover,
    &.active {
      text-decoration: underline;
    }
  }
}
