/*
  ========================================
  $Header
  ========================================
*/

@use "../abstracts" as a;

.section-header {
  @extend %flex-a--center;
  @extend %screen-main;
  padding-top: clamp(20px, 1.8em, 45px);
  padding-bottom: clamp(27px, 2.2em, 50px);

  &__logo {
    width: clamp(145px, 10em, 210px);
    margin-right: 17px;
  }
}
