.error, .section-footer, .section-header {
  display: flex;
  align-items: center;
}

main,
.section-header {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/*
  ========================================
  $Reset
  ========================================
*/
html {
  box-sizing: border-box;
  font-size: 16px;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

/* Inherit font on Form Elements for a Better Mobile Experience */
h1,
input,
button,
select,
textarea,
::placeholder {
  font: inherit;
  font-size: var(--f-size-m);
  color: currentColor;
  opacity: 1; /* Fix Firefox default style */
}

a,
button {
  all: unset;
  cursor: pointer;
}

ol,
ul,
menu {
  list-style: none;
  padding: 0;
}

/* Style broken images */
img,
img::before,
img::after {
  position: relative;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  font: inherit;
  font-style: italic;
}

img::before {
  content: "We're sorry, the image below is broken :(";
}

img::after {
  content: "(url: " attr(src) ")";
}

/*
  ========================================
  $Typography
  ========================================
*/
:root {
  --f-size-xs: clamp(0.625rem, 0.455vw + 0.511rem, 0.875rem);
  --f-size-s: clamp(0.75rem, 0.682vw + 0.58rem, 1.125rem);
  --f-size-m: clamp(0.75rem, 1.364vw + 0.409rem, 1.5rem);
  --f-size-l: clamp(1.125rem, 2.045vw + 0.614rem, 2.25rem);
  --f-size-xl: clamp(1.5rem, 2.727vw + 0.818rem, 3rem);
  --f-size-xxl: clamp(6rem, 21.818vw + 0.545rem, 18rem);
  --l-height: 1.4;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 400;
  src: local("Montserrat-Medium"), url("../assets/fonts/Montserrat-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  src: local("Montserrat-Bold"), url("../assets/fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "Montserrat-Medium", serif;
  font-size: var(--f-size-m);
  line-height: var(--l-height);
}

.heading-1 {
  color: #fff;
  font-size: var(--f-size-xl);
  font-weight: 700;
  text-align: center;
}

.house__tags {
  font-size: var(--f-size-xs);
  font-weight: 700;
  color: #fff;
}

/*
  ========================================
  $Base
  ========================================
*/
/*
  ========================================
  $Animations
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Navigation
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Header
  ========================================
*/
.section-header {
  padding-top: clamp(20px, 1.8em, 45px);
  padding-bottom: clamp(27px, 2.2em, 50px);
}
.section-header__logo {
  width: clamp(145px, 10em, 210px);
  margin-right: 17px;
}

@media screen and (width >= 768px) {
  .nav {
    margin-left: auto;
  }
}
.nav__link {
  padding-left: clamp(20px, 2em, 58px);
  color: currentColor;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (width >= 768px) {
  .nav__link {
    text-transform: none;
  }
}
.nav__link:hover, .nav__link.active {
  text-decoration: underline;
}

/*
  ========================================
  $Footer
  ========================================
*/
.section-footer {
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 66px;
  padding-bottom: 58px;
  background-color: #000;
  color: #fff;
}
@media screen and (width >= 768px) {
  .section-footer {
    padding-bottom: 29px;
  }
}
.section-footer__logo {
  width: 122px;
  filter: brightness(100);
}
.section-footer__content {
  max-width: 133px;
  padding-top: 20px;
  text-align: center;
}
@media screen and (width >= 768px) {
  .section-footer__content {
    max-width: 100%;
    padding-top: 35px;
  }
}

/*
  ========================================
  $Buttons
  ========================================
*/
/*
  ========================================
  $Gallery
  ========================================
*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 20px;
  margin: clamp(20px, 1.75em, 43px) 0 clamp(27px, 2em, 50px);
}
@media screen and (width >= 768px) {
  .gallery {
    row-gap: 60px;
    column-gap: 50px;
    padding: 56px 50px 43px;
    border-radius: 25px;
    background-color: #f6f6f6;
  }
}

.card {
  position: relative;
}
.card__title {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 15px;
  margin-right: 50px;
  font-size: var(--f-size-s);
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px #000;
}
.card__cover {
  border-radius: 10px;
  height: clamp(255px, 18em, 340px);
}

/*
  ========================================
  $Carousel
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Cover
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Banner
  ========================================
*/
.banner {
  position: relative;
}
.banner__image {
  height: clamp(111px, 9.5em, 223px);
  border-radius: 25px;
  filter: brightness(70%);
}
.banner__heading {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 30%;
  transform: translate(-20%, -50%);
}

/*
  ========================================
  $Accordion
  ========================================
*/
.container {
  max-width: 1023px;
  margin: 0 auto;
  padding: clamp(19px, 2em, 38px) 0;
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 2em, 30px);
}

.wrapper {
  border-radius: 5px;
  overflow: hidden;
}

.wrapper .title-container {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  color: #fff;
  font-size: var(--f-size-m);
  font-weight: 700;
}

.wrapper .arrow {
  width: 16px;
  padding-right: 30px;
  transition: 0.3s ease-in-out;
}

.arrow.active {
  padding-right: 30px;
  rotate: 180deg;
  transform: translate(30px);
}

.wrapper .details-container {
  background-color: #f6f6f6;
  transition: height 0.3s ease-in-out;
}

.wrapper .details-content {
  padding: 20px;
  font-size: var(--f-size-s);
}

/*
  ========================================
  $Home
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Error
  ========================================
*/
.error {
  flex-direction: column;
  gap: clamp(90px, 7em, 139px);
  padding: clamp(90px, 7em, 139px) 57px;
  text-align: center;
}
.error__heading {
  color: #ff6060;
  font-size: var(--f-size-xxl);
}
.error__content {
  color: #ff6060;
  font-size: var(--f-size-m);
}
.error__link {
  text-decoration: underline;
  font-size: var(--f-size-s);
}

/*# sourceMappingURL=main.css.map */
