/*
  ========================================
  $Accordion
  ========================================
*/

@use "../abstracts" as a;

//.section-commitments {}

.container {
  max-width: 1023px;
  margin: 0 auto;
  padding: clamp(19px, 2em, 38px) 0;
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 2em, 30px);
}

.wrapper {
  border-radius: 5px;
  overflow: hidden;
}
.wrapper .title-container {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: a.$red;
  color: a.$white;
  font-size: var(--f-size-m);
  font-weight: 700;
}

.wrapper .arrow {
  width: 16px;
  padding-right: 30px;
  transition: 0.3s ease-in-out;
}
.arrow.active {
  padding-right: 30px;
  rotate: 180deg;
  transform: translate(30px);
}
.wrapper .details-container {
  background-color: a.$gray;
  transition: height 0.3s ease-in-out;
}
.wrapper .details-content {
  padding: 20px;
  font-size: var(--f-size-s);
}
