/*
  ========================================
  $Base
  ========================================
*/

/* $Variables
   ==================================== */

.nav__link {
  color: #000;
}

.nav__link:hover {
  color: #00a8ff;
}

.nav__link.active {
  color: #00a8ff;
}
