/*
  ========================================
  $Error
  ========================================
*/

@use "../../styles/sass/abstracts/" as a;

.error {
  @extend %flex-a--center;
  flex-direction: column;
  gap: clamp(90px, 7em, 139px);
  padding: clamp(90px, 7em, 139px) 57px;
  text-align: center;

  &__heading {
    color: a.$red;
    font-size: var(--f-size-xxl);
  }
  &__content {
    color: a.$red;
    font-size: var(--f-size-m);
  }
  &__link {
    text-decoration: underline;
    font-size: var(--f-size-s);
  }
}
